@use "global" as *;

footer{
    padding: 60px 0 50px;
    background: #0B0202;
    position: relative;
        
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            opacity: 0.6;
        }
    }
    @media (max-width: 1200px) {
        padding: 40px 0 30px;
        height: auto;
    }
    .container-fluid{
        position: relative;
        z-index: 2;
    }
    .box{
        display: grid;
        grid-gap: 114px;
        height: 100%;
        @media (max-width: 1400px) {
            grid-gap: 70px;
        }
        @media (max-width: 1200px) {
            grid-gap: 30px;
        }       
        @media (max-width: 767px){
            grid-gap: 20px;
        }
        .box-top{
            display: grid;
            grid-template-columns: repeat(2, minmax(10px, 1fr));
            grid-gap: 24px;
            @media (max-width: 1200px) {
                grid-template-columns: 1fr;
                grid-gap: 20px;
            }            
            .logo{
                img{
                    height: 56px;
                    @media (max-width: 1200px) {
                        height: 38px;
                    }
                    @media (max-width: 767px) {
                        height: 30px;
                    }
                }
            }
            .menu{
                display: flex;
                justify-content: flex-end;
                gap: 30px;
                padding-right: 50px;
                @media (max-width: 1200px) {
                    justify-content: flex-start;
                }
                
                @media (max-width: 767px){
                    display: grid;
                    grid-template-columns: repeat(2, minmax(10px, 1fr));
                    padding: 0;
                    grid-gap: 50px;
                }
                ul{
                    display: grid;
                    margin: 0;
                    padding: 0;
                    grid-gap: 20px;
                    height: fit-content;
                    @media (max-width: 767px){
                        grid-gap: 12px;
                    }
                    li{
                        a{
                            display: block;
                            min-width: 220px;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 20px;
                            color: $color-cream;
                            text-decoration: none;
                            @include transition;
                            &:hover{
                                color: $color-yellow;
                            }
                            @media (max-width: 1200px) {
                                margin: 0;
                                font-size: 14px;
                            }
                            
                            @media (max-width: 767px){
                                min-width: 0;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        .box-bottom{
            display: grid;
            grid-template-columns: repeat(2, minmax(10px, 1fr));
            grid-gap: 24px;
            height: fit-content;
            margin-top: auto;
            align-items: flex-end;
            @include delay(0.35);
            @media (max-width: 1200px) {
                grid-template-columns: 1fr;
                grid-gap: 20px;
            }
        }
        .box-left{
            .info{
                display: grid;
                grid-gap: 5px;                
                li{
                    svg{
                        position: relative;
                        top: 3px;          
                        path{
                            @include transition;
                        }
                    }
                    a{
                        display: flex;
                        grid-gap: 5px;
                        font-weight: 300;
                        font-size: 14px;
                        line-height: 150%;
                        color: $color-cream;
                        text-decoration: none;
                        @include transition();
                        @media (max-width: 767px){
                            font-size: 12px;
                        }
                        &:hover{
                            color: $color-yellow;
                            svg path{
                                fill: $color-yellow;
                            }
                            span{
                                padding-left: 4px;
                            }
                        }
                        span{
                            @include transition;
                            padding-left: 0;
                            @media (max-width: 767px){
                                padding-top: 2px;
                            }
                        }
                    }
                }
            }
        }
        
        .social{
            display: flex;
            gap: 15px;
            justify-content: flex-end;
            @media (max-width: 1200px){
                justify-content: flex-start;
            }
            a{
                display: block;
                @include transition();
                &:hover{
                    svg path{
                        fill: $color-yellow;
                    }
                }
                svg{
                    width: 24px;
                    height: auto;
                    @media (max-width: 767px){
                        width: 18px;
                    }
                    path{
                        @include transition;
                    }
                }
            }
        }
        .box-right{
            display: grid;
            grid-gap: 21px;
            justify-content: flex-end;
            height: fit-content;
            @media (max-width: 1200px){
                justify-content: flex-start;
                grid-gap: 20px;
            }
            .other{
                display: flex;
                gap: 42px;
                @media (max-width: 767px){
                    display: grid;
                    grid-gap: 20px;
                }
            }
            .menus{
                display: flex;
                gap: 42px;
                li{
                    a{         
                        display: block;             
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 150%;
                        color: $color-cream;
                        text-decoration: none;
                        @include transition();
                        &:hover{
                            color: $color-yellow;
                        }
                    }
                }
            }
            .copyright{     
                font-weight: 300;
                font-size: 12px;
                line-height: 150%;
                color: $color-cream;
                text-decoration: none;
                @media (max-width: 767px){
                    font-size: 10px;
                }
            }
        }
    }
}